
@{
    ViewBag.Title = "TuyenDung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Content/css/tuyendung.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jqn.juery.mis"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/Content/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/owlcarousel/assets/owl.theme.default.min.css">
    <script src="/Content/jquery.min.js"></script>
    <script src="/Content/owlcarousel/owl.carousel.min.js"></script>
    <title>ĐT-Coffee</title>
</head>

<body>

    <div class="row slide">
        <div class="col">
            <div class="col-md-12 text-center">
                <h6>Cơ hội nghề nghiệp</h6>
                <h4>trở thành thành viên trong gia đình the coffee house</h4>
                <button type="button" class="btn btn-outline-light"><a href="#cacvitrihientai">các vị trí hiện tại</a></button>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <div class="container padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h3 class="display-5">nhân viên là cốt lõi bền vững</h3>
            </div>
        </div>
    </div>
    <div class="row text1">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p class="textbody">
                Chúng tôi tin rằng xây dựng được hạnh phúc, chú trọng con đường sự nghiệp cho nhân viên,
                sự hài lòng trong công việc và môi trường tích cực sẽ là nền tảng lâu dài cho sự phát triển
                bền vững của The Coffee House. Hãy đến với chúng tôi khi nhận thấy những giá trị này phù hợp với bạn! <br>
            </p>
        </div>
        <div class="col-md-3"></div>
        <hr>
    </div>
    <div class="container padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <hr>
                <h3 class="display-5"><br> the coffee sẽ mang đến cho bạn</h3>
                <br>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/Content/image/nhanvien/with-tch.svg" alt="" height="100px">
                <br>
                <br>
                <h6 class="textheder">môi trường lý tưởng</h6>
                <p class="textbody">
                    Linh hoạt, thách thức, năng động và thân thiện, là những điều chúng tôi mang đến cho bạn sự thoải mái
                    để tập trung tạo hiệu quả công việc tốt nhất bên cạnh sự hỗ trợ của đồng nghiệp và hướng dẫn từ quản lý.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/Content/image/nhanvien/at-tch.svg" alt="" height="100px">
                <br>
                <br>
                <h6 class="textheder">cơ hội phát triển nghề nghiệp</h6>
                <p class="textbody">
                    Bạn sẽ có cơ hội để học hỏi rất nhanh và phát triển sự nghiệp bền vững trong ngành F&B cùng với
                    sự mở rộng và phát triển không ngừng của công ty.
                </p>
            </div>
            <div class="col-md-4">
                <img src="/Content/image/nhanvien/in-tch.svg" alt="" height="100px">
                <br>
                <br>
                <h6 class="textheder">phiên bản tốt hơn của chính mình</h6>
                <p class="textbody">
                    Những điều bạn phải cam kết với chúng tôi là sự quán triệt đi đến cùng với công việc và đam mê,
                    chúng tôi tôn trọng sự nỗ lực của cá nhân và đề cao tinh thần chủ động tiên phong giải quyết những vấn đề và gặt hái thành quả.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="/Content/image/nhanvien/nhanvien.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="container padding" id="cacvitrihientai">
        <div class="row welcome text-center">
            <div class="col-12">
                <br>
                <br>
                <h3 class="display-5">CÁC VỊ TRÍ HIỆN TẠI</h3>
                <p class="textbody">
                    Chúng tôi luôn tìm kiếm những người tuyệt vời! Nếu bạn chưa tìm thấy cơ hội phù hợp hiện tại, nhưng tin rằng bạn có thể
                    trở thành 1 phần của The Coffee House, hãy gửi thông tin cho chúng tôi.
                </p>
                <br>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row ungtuyen">
            <div class="col-md-12">
                <div class="row">
                    <h6 class="texthederungtuyen">Nhân viên pha chế</h6>
                </div>
                <div class="row phache">
                    <div class="col-md-6">
                        <h6 class="textbody"><a href="@Url.Action("UngTuyen", "Home")"><i class="fa fa-arrow-right"></i></a>FULLTIME</h6>
                    </div>
                    <div class="col-md-4">
                        <p class="textbody"> <a href="#"><i class="fa fa-map-marker"></i></a> Địa điểm phỏng vấn: THE COFFEE HOUSE - Hà Nội, văn phòng the coffee house tầng 25, tòa S1 236 Hoàng Quốc Việt-Từ Liêm-Hà Nội </p>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-warning"><a href="@Url.Action("UngTuyen", "Home")">Ứng Tuyển</a></button>
                    </div>
                </div>
                <div class="row phache">
                    <div class="col-md-6">
                        <h6 class="textbody"><a href="#"><i class="fa fa-arrow-right"></i></a>PARTTIME</h6>
                    </div>
                    <div class="col-md-4">
                        <p class="textbody"><a href="#"><i class="fa fa-map-marker"></i></a> Địa điểm phỏng vấn: THE COFFEE HOUSE - Hà Nội, văn phòng the coffee house tầng 25, tòa S1 236 Hoàng Quốc Việt-Từ Liêm-Hà Nội </p>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-warning"><a href="@Url.Action("UngTuyen", "Home")">Ứng Tuyển</a></button>
                    </div>
                </div>
                <div class="row">
                    <h6 class="texthederungtuyen"><br> <br> Nhân viên bồi bàn</h6>
                </div>
                <div class="row phache">
                    <div class="col-md-6">
                        <h6 class="textbody"><a href="#"><i class="fa fa-arrow-right"></i></a>FULLTIME</h6>
                    </div>
                    <div class="col-md-4">
                        <p class="textbody"><a href="#"><i class="fa fa-map-marker"></i></a> Địa điểm phỏng vấn: THE COFFEE HOUSE - Hà Nội, văn phòng the coffee house tầng 25, tòa S1 236 Hoàng Quốc Việt-Từ Liêm-Hà Nội </p>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-warning"><a href="@Url.Action("UngTuyen", "Home")">Ứng Tuyển</a></button>
                    </div>
                </div>
                <div class="row phache">
                    <div class="col-md-6">
                        <h6 class="textbody"><a href="#"><i class="fa fa-arrow-right"></i></a>PARTTIME</h6>
                    </div>
                    <div class="col-md-4">
                        <p class="textbody"><a href="#"><i class="fa fa-map-marker"></i></a> Địa điểm phỏng vấn: THE COFFEE HOUSE - Hà Nội, văn phòng the coffee house tầng 25, tòa S1 236 Hoàng Quốc Việt-Từ Liêm-Hà Nội </p>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-warning"><a href="@Url.Action("UngTuyen", "Home")">Ứng Tuyển</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>



